<td-layout-manage-list
[opened]="media.registerQuery('gt-sm') | async"
                        [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                        [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
  <mat-toolbar td-sidenav-content>
    <mat-toolbar-row>
      <span>Visualisations</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
    <a mat-list-item
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['funnel']">
      <mat-icon matListIcon>hourglass_full</mat-icon>
      Users Funnel
    </a>
    <a mat-list-item
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['score']">
      <mat-icon matListIcon>stars</mat-icon>
      User score profile
    </a>
    <a mat-list-item
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['messagecanal']">
      <mat-icon matListIcon>group</mat-icon>
      Number of users / canal
    </a>
    <a mat-list-item
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['smartphonetype']">
      <mat-icon matListIcon>smartphone</mat-icon>
      Smartphone type
    </a>
    <a mat-list-item
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['connexionevolution']">
      <mat-icon matListIcon>show_chart</mat-icon>
      Users connections evolution
    </a>
  </mat-nav-list>
  <router-outlet></router-outlet>
</td-layout-manage-list>